<div class="list row">
  <div class="col-md-6">
    <h4>Acompanhamento das etapas do Processo</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let etapa of etapas; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEtapa(etapa, i)"
      >
        {{ etapa.nome }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentProcesso">
      <h4>Etapa</h4>
      <div>
        <label><strong>Nome:</strong></label> {{ currentProcesso.nome }}
      </div>
      <div>
        <label><strong>Descrição:</strong></label>
        {{ currentProcesso.descricao }}
      </div>
      <div>
          <label><strong>Status</strong></label>
          {{ currentProcesso.status }}
      </div>
      <div *ngIf="currentProcesso.agendar == 'true'">
        <button class="nav-item nav-link-edit" onclick="alert('Processo agendado')" (click)="agendarProcesso()">Agendar</button>
      </div>
    </div>
  </div>
</div>
